<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
</head>
<body>
    <div class="container">
        <h1>History</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                    <tr>
                        <td>{{ entry['type'] }}</td>
                        <td>
                            {% if entry['type'] == 'purchase' %}
                                Product: {{ entry['product'] }}, Price: ${{ entry['price'] }}, Quantity: {{ entry['quantity'] }}
                            {% elif entry['type'] == 'sale' %}
                                Product: {{ entry['product'] }}, Price: ${{ entry['price'] }}, Quantity: {{ entry['quantity'] }}
                            {% elif entry['type'] == 'balance_change' %}
                                Operation: {{ entry['operation'] }}, Value: ${{ entry['value'] }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Back to Main</a>
    </div>
</body>
</html>
