<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounting and Warehouse Management</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
</head>
<body>
    <div class="container">
        <h1>Accounting and Warehouse Management</h1>
        <div class="columns">
            <div class="column col-6">
                <h2>Stock Level</h2>
                <ul>
                    {% for product, quantity in stock_level.items() %}
                        <li>{{ product }}: {{ quantity }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column col-6">
                <h2>Account Balance</h2>
                <p>Current account balance: ${{ account_balance }}</p>
            </div>
        </div>
        <div class="columns">
            <div class="column col-4">
                <h2>Purchase</h2>
                <form action="/purchase" method="post">
                    <div class="form-group">
                        <label class="form-label" for="purchase-product">Product Name</label>
                        <input class="form-input" type="text" id="purchase-product" name="purchase-product" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="purchase-price">Unit Price</label>
                        <input class="form-input" type="number" id="purchase-price" name="purchase-price" min="0" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="purchase-quantity">Number of Pieces</label>
                        <input class="form-input" type="number" id="purchase-quantity" name="purchase-quantity" min="1" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Purchase</button>
                </form>
            </div>
            <div class="column col-4">
                <h2>Sale</h2>
                <form action="/sale" method="post">
                    <div class="form-group">
                        <label class="form-label" for="sale-product">Product Name</label>
                        <input class="form-input" type="text" id="sale-product" name="sale-product" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="sale-price">Unit Price</label>
                        <input class="form-input" type="number" id="sale-price" name="sale-price" min="0" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="sale-quantity">Number of Pieces</label>
                        <input class="form-input" type="number" id="sale-quantity" name="sale-quantity" min="1" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Sale</button>
                </form>
            </div>
            <div class="column col-4">
                <h2>Balance Change</h2>
                <form action="/balance" method="post">
                    <div class="form-group">
                        <label class="form-label" for="balance-type">Operation Type</label>
                        <select class="form-select" id="balance-type" name="balance-type" required>
                            <option value="add">Add</option>
                            <option value="subtract">Subtract</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="balance-value">Value</label>
                        <input class="form-input" type="number" id="balance-value" name="balance-value" min="0" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Change Balance</button>
                </form>
            </div>
        </div>
        <div>
            <a href="/history">History</a>
        </div>
    </div>
</body>
</html>
